<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Style Of Art</title>
</head>
<body>
    <h1>Data investigation and analysis on the style of music artists</h1>
    <h3>Here we collected tags (Echo Nest and MusicBrainz) from <span id="artist_num">{{ artist_num }}</span> artists and conducted limited statistical analysis.</h3>
    <p>There are mbtag data <span id="mbtag_num">{{ mbtag_num }}</span>，There are term data <span id="term_num">{{ term_num }}</span>.</p>
    <p>You can click <a href="/artist_mgtag">here</a> to view the data relationship between artists and MBTAG.</p>
    <p>You can click <a href="/artist_term">here</a> to view the data relationship between artists and TREM.</p>
</body>
</html>